nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
    height: 100vh;
}

ul {
    display: flex;
    width: 400px;
    justify-content: space-around;
    flex-direction: column;
}

li {
    list-style: none;
}